@font-face {
  font-family: "iconfont";
  /* Project id 3496580 */
  /* Color fonts */
  src:
    url('../font/iconfont.woff2') format('woff2'),
    url('../font/iconfont.woff') format('woff'),
    url('../font/iconfont.ttf') format('truetype');
}

/* 在线链接服务仅供平台体验和调试使用，平台不承诺服务的稳定性，企业客户需下载字体包自行发布使用并做好备份。 */
// @font-face {
//   font-family: 'iconfont';  /* Project id 3496580 */
//   src: 
//        url('//at.alicdn.com/t/c/font_3496580_om3c4jj5do8.woff2?t=1712384371225') format('woff2'),
//        url('//at.alicdn.com/t/c/font_3496580_om3c4jj5do8.woff?t=1712384371225') format('woff'),
//        url('//at.alicdn.com/t/c/font_3496580_om3c4jj5do8.ttf?t=1712384371225') format('truetype');
// }
.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-card:before {
  content: "\e73f";
}

.icon-delete:before {
  content: "\e636";
}

.icon-select::before {
  content: "\e7d4";
}

.icon-audio:before {
  content: "\e657";
}

.icon-music-item:before {
  content: "\e6e0";
}

.icon-add-music:before {
  content: "\e611";
}

.icon-music-open:before {
  content: "\e62c";
}

.icon-music:before {
  content: "\e73a";
}

.icon-laidian:before {
  content: "\e8bd";
}

.icon-guaduan:before {
  content: "\e640";
}

.icon-shijian:before {
  content: "\e61b";
}

.icon-enable:before {
  content: "\e65f";
}

.icon-riqi:before {
  content: "\e635";
}

.icon-chuanduo:before {
  content: "\e607";
}

.icon-lingsheng:before {
  content: "\e60a";
}